
body{
	background-color: rgb(36, 36, 36);
}
*{
	color:black;
	animation-name: animate;
	animation-duration: 1s;
}
.head{
	height: 160px;
	background-color: rgb(0, 0, 0);
	display: flex;
	position: fixed;
	top:0;
	left:0;
	right:0;
}

.lnks{
	background-position: center;
	justify-content: space-around;
	text-align: left;
	position: relative;
	left:120ex;

		bottom:40px;
}
button{
	background-color: rgb(0, 0, 0);
	animation-name: lol;
	background-color: none;
	border-style: solid;
	border-width: 2px;
	border-radius: 4px;
	border-color: rgb(255, 255, 255);
	padding: 10px ;
	border-radius: 3px;
}
button:hover{
	
	transform: scale(130%);
	background-color:    #ffffff;

}
button:hover > a{
	color:black;
	
}
a{
	padding: 15px;

	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 10;
}

h1{
	padding-left: 15px;
	padding-top: 15px;
	font-size: 35px;

	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
	border-style: solid;
	border-color: rgb(255, 123, 0);
	border-radius: 6px;
	
}
.bodyDiv{
	text-align: center;
	margin-top:170px ;
}


@keyframes animate {
	0% {
		width: 0px;
		height: 0px;
	}
	30% {
		width: 50px;
		height: 0px;
	}
	60% {
		width: 50px;
		height: 80px;
	}
}
mark{
	background-color: green;
	color: wheat;
}
@keyframes imge{
	10%{transform: scale(1.5)}
	50%{transform: scale(1.4)}
	70%{transform: scale(1.3)}

	80%{transform: scale(1.2)}
	90%{transform: scale(1.1)}


}



.down{
	animation-name: imge;
	animation-duration: 1s;
	border-style:  none;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;	
}

.down:hover{
	background-color: orangered;
}
details > summary{
	list-style-type: none;
}
details > summary::before {
    content: '▶️';
}

details[open] > summary::before {
    content: '🔽';
}
link{
	background-size: contain;
}